//  Foundation for Sites Content
//  -----------------------------
//

.content {
	background-color: $content-background;
}

.row {
  
}

ul.image-grid {
	list-style: none;
	margin-left: 0;
	li {
		display: inline-block;
	}
}