//  Foundation for Sites Content
//  -----------------------------
//

.content {
	background-color: $content-background;
}

.row {
  .row {
  	margin-left: 0 !important;
  	margin-right: 0 !important;
  }
}

ul.image-grid {
	list-style: none;
	margin-left: 0;
	li {
		display: inline-block;
	}
}

.video-embed {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	margin-bottom: $global-margin*1.5;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.week {
	border: solid 2px darken($content-background, 5%);
	h4 {
		padding-top: $global-padding;
	}
}

.week:nth-child(2n) {
	background-color: darken($content-background, 5%);
}