//  Foundation for Sites Fonts
//  -----------------------------
//

@font-face {
    font-family: 'Univers';
    src: url('fonts/Univers.eot');
    src: url('fonts/Univers.eot') format('embedded-opentype'),
         url('fonts/Univers.woff2') format('woff2'),
         url('fonts/Univers.woff') format('woff'),
         url('fonts/Univers.ttf') format('truetype'),
         url('fonts/Univers.svg#Univers') format('svg');
}

@font-face {
    font-family: 'UniversOblique';
    src: url('fonts/UniversOblique.eot');
    src: url('fonts/UniversOblique.eot') format('embedded-opentype'),
         url('fonts/UniversOblique.woff2') format('woff2'),
         url('fonts/UniversOblique.woff') format('woff'),
         url('fonts/UniversOblique.ttf') format('truetype'),
         url('fonts/UniversOblique.svg#UniversOblique') format('svg');
}

@font-face {
    font-family: 'UniversBold';
    src: url('fonts/UniversBold.eot');
    src: url('fonts/UniversBold.eot') format('embedded-opentype'),
         url('fonts/UniversBold.woff2') format('woff2'),
         url('fonts/UniversBold.woff') format('woff'),
         url('fonts/UniversBold.ttf') format('truetype'),
         url('fonts/UniversBold.svg#UniversBold') format('svg');
}

@font-face {
    font-family: 'UniversBlack';
    src: url('fonts/UniversBlack.eot');
    src: url('fonts/UniversBlack.eot') format('embedded-opentype'),
         url('fonts/UniversBlack.woff2') format('woff2'),
         url('fonts/UniversBlack.woff') format('woff'),
         url('fonts/UniversBlack.ttf') format('truetype'),
         url('fonts/UniversBlack.svg#UniversBlack') format('svg');
}

@font-face {
    font-family: 'UniversLight';
    src: url('fonts/UniversLight.eot');
    src: url('fonts/UniversLight.eot') format('embedded-opentype'),
         url('fonts/UniversLight.woff2') format('woff2'),
         url('fonts/UniversLight.woff') format('woff'),
         url('fonts/UniversLight.ttf') format('truetype'),
         url('fonts/UniversLight.svg#UniversLight') format('svg');
}

@font-face {
    font-family: 'UniversLightOblique';
    src: url('fonts/UniversLightOblique.eot');
    src: url('fonts/UniversLightOblique.eot') format('embedded-opentype'),
         url('fonts/UniversLightOblique.woff2') format('woff2'),
         url('fonts/UniversLightOblique.woff') format('woff'),
         url('fonts/UniversLightOblique.ttf') format('truetype'),
         url('fonts/UniversLightOblique.svg#UniversLightOblique') format('svg');
}

@font-face {
    font-family: 'UniversCondensedBold';
    src: url('fonts/UniversCondensedBold.eot');
    src: url('fonts/UniversCondensedBold.eot') format('embedded-opentype'),
         url('fonts/UniversCondensedBold.woff2') format('woff2'),
         url('fonts/UniversCondensedBold.woff') format('woff'),
         url('fonts/UniversCondensedBold.ttf') format('truetype'),
         url('fonts/UniversCondensedBold.svg#UniversCondensedBold') format('svg');
}

@font-face {
    font-family: 'UniversCondensedLight';
    src: url('fonts/UniversCondensedLight.eot');
    src: url('fonts/UniversCondensedLight.eot') format('embedded-opentype'),
         url('fonts/UniversCondensedLight.woff2') format('woff2'),
         url('fonts/UniversCondensedLight.woff') format('woff'),
         url('fonts/UniversCondensedLight.ttf') format('truetype'),
         url('fonts/UniversCondensedLight.svg#UniversCondensedLight') format('svg');
}

@font-face {
    font-family: 'KeplerStdBoldIt';
    src: url('fonts/KeplerStdBoldIt.eot');
    src: url('fonts/KeplerStdBoldIt.eot') format('embedded-opentype'),
         url('fonts/KeplerStdBoldIt.woff2') format('woff2'),
         url('fonts/KeplerStdBoldIt.woff') format('woff'),
         url('fonts/KeplerStdBoldIt.ttf') format('truetype'),
         url('fonts/KeplerStdBoldIt.svg#KeplerStdBoldIt') format('svg');
}

