//  Foundation for Sites - Navigation Overrides
//  ----------------------------------------------
//

.top-bar {

  min-height: 60px;
  box-shadow: 0 2px 2px 0 rgba(15,3,3,0.35);

  li > button {
    margin-left: $global-padding;
  }

  @include breakpoint(small only) {
    margin-left: 0;
    margin-right: 0;

    min-height: 0px;

    ul {
      li {

        margin-left: $global-padding*2;
        margin-right: $global-padding*2;

        a {
          text-align: center;
          border-bottom: 1px solid $medium-gray;
        }
        button {
          width: 100%;
          margin-left: 0;
          padding-bottom: $global-padding;
          padding-top: $global-padding;
          font-size: 140%;
        }
      }
    }
  }
}
