<!-- Footer -->
<footer class="row align-top align-left">
<div class="small-10 small-offset-1 order-1 medium-4 medium-order-1 large-3 large-order-1 column">
    <!-- TODO link to current page? -->
  <a href="index.html"><img src="../../static/img/hero-logo.png"></a>
</div>
<div class="small-7 order-2 medium-3 medium-order-2 large-3 large-order-2 column">
  <a href="https://goo.gl/maps/DuYgvrB9CvA2">Russian Center<br>2460 Sutter St.<br>San Francsico, CA 94115</a><br><a href="mailto:info@920special.com">info@920special.com</a>
</div>
<div class="small-6 order-4 medium-1 medium-order-2 large-1 large-order-3 column">
  <ul class="menu medium-vertical social">
    <li><a href="https://www.facebook.com/the920special/"><img src="../../static/img/icons/facebook-square.svg" alt="9:20 Special on Facebook"></a></li>
    <li><a href="https://twitter.com/920special"><img src="../../static/img/icons/twitter-square.svg" alt="9:20 Special on Twitter"></a></li>
    <li><a href="https://www.youtube.com/user/920Special"><img src="../../static/img/icons/youtube-square.svg" alt="9:20 Special on YouTube"></a></li>
  </ul>
</div>
<nav class="small-12 order-5 medium-2 medium-order-4 large-2 large-order-4 column">
  <ul class="menu vertical">
    <li><a href="classes.html">Classes</a></li>
    <li><a href="dance.html">Dance</a></li>
    <li><a href="music.html">Music</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="about.html#contact">Contact Us</a></li>
    <li><a href=" https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1&date=03/03/16">Register</a></li>
  </ul>
</nav>

<!-- Constant Contact form -->
 <div class="small-12 order-3 medium-6 medium-order-5 medium-offset-1 large-5 large-order-5 large-offset-1 column newsletter">
  <div class="ctct-embed-signup">
    <form data-id="embedded_signup:form" class="ctct-custom-form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
      <h3 style="margin:0;">Sign up for our mailing list</h3>
      <input data-id="ca:input" type="hidden" name="ca" value="707bffb5-48a7-4e60-a425-1c132426ef49">
      <input data-id="list:input" type="hidden" name="list" value="3">
      <input data-id="source:input" type="hidden" name="source" value="EFD">
      <input data-id="required:input" type="hidden" name="required" value="list,email">
      <input data-id="url:input" type="hidden" name="url" value="">
      <label data-id="Email Address:label" data-name="email" class="ctct-form-required show-for-sr" aria-label="Email">Email:</label>
      <div class="input-group">
        <input data-id="Email Address:input" type="text" name="email" value="" maxlength="80" class="input-group-field" placeholder="norma@thesavoy.org">
        <div class="input-group-button">
          <button type="submit" class="button ctct-button" data-enabled="enabled">Subscribe</button>
        </div>
      </div>
    </form>
  </div>
</div>
</footer>
