<!-- Top Navigation -->
<div class="title-bar" data-responsive-toggle="top-level-nav" data-hide-for="medium" data-sticky data-options="marginTop:0;" style="width:100%;">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div data-sticky-container>
  <nav class="top-bar align-middle align-center" data-topbar role="navigation" id="top-level-nav" data-sticky data-options="marginTop:0;" style="width:100%; background-color: #0C0728;">
    <div class="top-bar-left show-for-medium">
      <ul class="menu">
          <!-- TODO link to current page -->
        <li><a href="/" style="padding: 0 0 0 16px;"><img src="../static/img/header-logo.jpg" alt="9:20 Special Logo" style="max-height: 40px"></a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu vertical medium-horizontal">
        <li><a href="/" class="show-for-small-only">Home</a></li>
        <li><a href="dance.html#schedule">Calendar</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li><a href="dance.html">Dance</a></li>
        <li><a href="music.html">Music</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="about.html#contact">Contact Us</a></li>
        <li><a type="button" class="button" href=" https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1&date=03/03/16">Register</a></li>
      </ul>
    </div>
  </nav>
</div>
