{% extends "base/base.jinja" %}

{% block content %}
     <!-- Hero Section -->
      <div class="row align-spaced hero">
        <div class="align-top order-1 large-12 medium-12 small-12 column">
          <blockquote class="column small-8 small-offset-3 medium-5 medium-offset-7 large-3 large-offset-7">There are shortcuts to happiness, and dancing is one of them.<br>&mdash; Vicki Baum</blockquote>
        </div>
        <div class="align-bottom order-2 large-4 medium-6 small-12 column clearfix">
          <img src="static/img/hero-logo.png" alt="Thursday Nights at 2460 Sutter St, 9:20 Special" class="hero-logo float-center">
        </div>
        <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
          <h3>Spreading the joy of Lindy Hop</h3>
          <p>Class series are $55* each if purchased online. If you sign up at the door, our class series are $65* each.</p>
          <a type="button" class="button large expanded" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
        </div>
      </div>

      <!-- Level 1 -->
      <header class="row inverse">
        <h2>Classes</h2>
      </header>
      <section class="row">
        <div class="column small-12">
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <p>Classes are normally a four-week series, beginning on the first Thursday of the month. Classes are progressive, meaning that every week we build upon the moves taught in the previous class. If you miss the first class of the series, you will be unenrolled and given an account credit to be used toward a future series. New drop-ins are allowed the first week only. All classes include admission to the dance.</p>
              <p>Class series are $55 each if purchased online. If you sign up at the door, our class series are $65 each. *Prices are adjusted for 3-week and 5-week months. A few times a year, we have a live band and will add $10 to the price of all series classes.</p>
              <p>In order to receive credit for the series, you must attend at least three of the four weeks of class.
              <h3>Leveling Up</h3>
              <p>Before moving up a level, you should complete all the curriculum prerequisites. Complete all three Level 1 courses before starting Level 2 and complete all four Level 2 courses before starting Level 3. “Completion” means you’ve attended at least three of the four classes in a month. If you’ve taken classes elsewhere and aren’t sure which level to sign up for, check our <a href=#level-profile-descriptions>Level Profile Descriptions</a> below. If you have other questions about level placement, please feel free to talk with any of our instructors or email info@920special.com. We’re happy to help!</p>
              <p><a href="dance.html#schedule">View this month's schedule.</a></p>
            </div>
          </div>
        </div>

        <div class="accordion" data-accordion data-allow-all-closed="true" style="width: 100%;">
          <div class="accordion-item is-active column small-12" data-accordion-item  id="taster-class">
            <a href="" class="accordion-title"><h3>Taster Class &ndash; Weekly Beginner Drop-In</h3></a>
            <div class="accordion-content" data-tab-content>
              <strong>Time: <em>9:30 PM (30 minute class)</em></strong><br>
              <strong>Prerequisites: <em>None</em></strong>
              <p>If you are brand new to Swing and Lindy Hop and want to see what it's all about, but aren't able to commit to the full series, then this class is for you!</p>
              <p>Every Thursday from 9:30-10:00 PM, we offer a 30-minute beginner class included in the price of dance admission ($7 students/seniors/military, $9 regular). Open to everyone, but geared toward beginners, this class will give you a taste of why Lindy Hop is our favorite partner dance. You'll learn some fun moves you can practice immediately following the class at our social dance party.</p>
              <a type="button" class="button" href="http://clients.mindbodyonline.com/ws.asp?studioid=41810&stype=-7&sView=day">Register Now</a>
            </div>
          </div>

          <div class="accordion-item column small-12" data-accordion-item id="lindy-1">
            <a href="" class="accordion-title"><h3>Level 1 &ndash; Intro to Lindy Hop</h3></a>
            <div class="accordion-content" data-tab-content>
              <strong>Time: <em>7:20 PM and 8:30 PM</em></strong><br>
              <strong>Prerequisite: <em>None</em></strong>
              <p>If you are new to swing dancing and Lindy Hop, this monthly series is for you. No partner is necessary as we rotate partners frequently in class.</p>
              <p>Each series starts on the first Thursday of the month and is progressive, meaning that every week we build upon the moves taught in the previous class. New drop-ins are allowed the first week only. If you've missed the first class, you can take our 30-minute Taster class at 9:30PM then join the series the following month.</p>
              <p>Before moving on to Level 2, take all three months of Level 1 - A, B, and C. Each month includes different curriculum which overlaps with each other. You can take these Level 1 classes in any order (so it doesn't matter if you start with A or not).</p>
              <p>The dance, which is included in the price of the class, starts at 9:30pm. It's important (and fun!) to practice at the dance so if you take the 7:20pm class just be aware that there's an hour in between class and the dance. Some people prefer this because they like to get dinner between class and the dance. Others prefer to have the dance immediately following their class.</p>
              <p>We recommend the 8:30pm class because it makes it easier to stick around for the dance. But totally up to you!</p>
              <ul>
                <li>Level 1A: 6-Count + 8-Count</li>
                <li>Level 1B: 8-Count + Charleston</li>
                <li>Level 1C: 6-Count + Charleston</li>
              </ul>
              <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&stype=-8&sTG=23&sVT=12&sView=week&sLoc=1">Register Now</a>
            </div>
            </div>

            <div class="accordion-item column small-12" data-accordion-item id="lindy-2">
              <a href="" class="accordion-title"><h3>Level 2 &ndash; Lindy Hop Fundamentals</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>8:30 PM</em></strong><br>
                <strong>Prerequisites: <em>Level 1 (A, B, &amp; C)</em></strong>
                <p>After you've taken all three months of Level 1 and feel like you've got some of the fundamentals down, this is the next step. Level 2 will help you grow your vocabulary, work on your technique, and become an adept social dancer. No partner is necessary as we rotate partners frequently in class.</p>
                <p>There are four months of curriculum, which can be taken in any order. Take all four of them before moving on to Level 3.</p>
                <ul>
                  <li>Level 2A: Swingouts</li>
                  <li>Level 2B: Musicality</li>
                  <li>Level 2C: Charleston</li>
                  <li>Level 2D: Classics</li>
                </ul>
                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
            <div class="accordion-item column small-12" data-accordion-item id="lindy-3">
              <a href="" class="accordion-title"><h3>Level 3 &ndash; Lindy Hop Fluency</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>7:20 PM</em></strong><br>
                <strong>Prerequisites: <em>Level 1 (A, B, &amp; C) and Level 2 (A, B, C, &amp; D)</em></strong>
                <p>If you've been studying Lindy Hop for seven months to a year, have completed all months of Level 1 and 2, feel like a solid social dancer, and want to be challenged to move your dancing to the next level, Level 3 is the right place for you. No partner is necessary as we rotate partners frequently in class.</p>
                <p>There are four months of rotating topics. Teachers will bring their own special ideas to these classes so they can be taken over and over again.</p>
                <ul>
                  <li>Level 3A: Technique</li>
                  <li>Level 3B: Musicality</li>
                  <li>Level 3C: Beyond Lindy Hop</li>
                  <li>Level 3D: Vocabulary</li>
                </ul>
                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
            <div class="accordion-item column small-12" data-accordion-item id="lindy-4">
              <a href="" class="accordion-title"><h3>Rotating Class Categories: Special Topics, Solo Jazz, Advanced</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>8:30 PM</em></strong><br>
                <strong>Prerequisites: <em>Varies. See below for details</em></strong>
                <p>Every month, this class category will rotate between Special Topics, Solo Jazz, and Advanced which means each of these will be offered 4 times per year.</p>
                <h4>Special Topics</h4>
                <strong>Prerequisite: <em>Level 3 and above</em></strong>
                <p>This class will include topics outside our standard curriculum, allowing our students to experience and learn beyond the fundamentals. Topics may include Fast Lindy Hop or Balboa for Lindy Hoppers or a partnered choreography class - the sky is the limit!</p> 
                <h4>Solo Jazz</h4>
                <strong>Prerequisite: <em>Varies. See class description in MindBody</em></strong>
                <p>Working on your solo dancing is one of the best ways to bring your partnered dancing to the next level, not to mention how much fun it is! This class will teach you original routines created by our instructors, classic sequences, and break down jazz steps that you will then be able to incorporate into your partnered dancing.</p>
                <h4>Advanced</h4>
                <strong>Prerequisite: <em>Audition only</em></strong>
                <p>If you've been dancing Lindy Hop for a few years, have completed all months of Level 3 multiple times, travel to dance, and practice frequently because you feel like there are always things to work on, this is the level to strive for. The group will be small to maximize direct feedback from the instructors. An audition is required to take this class. Auditions will occur one Thursday the month prior to the Advanced class.</p>
                <p>Teachers will bring their own special ideas to these classes, so they can be taken over and over again, and classes will be tailored to the needs of the students.</p>

                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
          </div>
        </section>

        <header class="row" id="level-profile-descriptions">
          <h2>Level Profile Descriptions</h2>
        </header>
        <section class="row">
        <div class="column small-12">
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <p>Each Level Profile describes where you should be when entering that level. This is to be used as a guide to determine if you’re ready to progress to the next level. Or, for students who have taken classes elsewhere to determine appropriate level placement.</p>
              <p>Remember, it’s not a race. Those who move through the levels as quickly as possible do not win. Those who take their time and focus on the fundamentals will become better dancers.</p>
            </div>
          </div>
        </div>

        </section>
        <section class="row">
          <table class="scroll">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Rhythm</th>
                    <th>Vocabulary</th>
                    <th>Partnering/Connection</th>
                    <th>Musicality</th>
                    <th>Improv/Playfulness</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Entering Level 1</td>
                    <td>I want some.</td>
                    <td>Swingout, 6-count, 8-count, Charleston are words without much meaning right now.</td>
                    <td>Yes please.</td>
                    <td>Huh?</td>
                    <td>I love to play but I’m not sure how this pertains to Lindy Hop.</td>
                </tr>
                <tr>
                    <td>Entering Level 2</td>
                    <td>I maintain a consistent rhythm: clear 6 count, 8 count, or Charleston rhythms.</td>
                    <td>I lead/follow simple patterns in 6 count, 8 count, and Charleston.</td>
                    <td>I maintain a consistent pulse, athletic posture.<br>I connect with my partner in a comfortable way.</td>
                    <td>I dance on beat.<br>I dance comfortably to tempos up to 150bpm.</td>
                    <td>I incorporate simple improvisations and jazz movements into my partnered dancing</td>
                </tr>
                <tr>
                    <td>Entering Level 3</td>
                    <td>I mix 6 count, 8 count, Charleston, walking, stopping.<br>I stay on beat.<br>I pulse with my partner. </td>
                    <td>I string together multiple clean, comfortable, recognizable swingouts in a row.<br>I dance multiple Charleston variations.<br>I switch between different rhythms easily (6ct, 8ct, Charleston, walking).<br>I can easily accomplish single turns/spins.</td>
                    <td>I maintain athletic posture and relaxed arms.<br>I can create and control both linear and circular movement.<br>I demonstrate compression and tension.<br>I pay attention to my partner.</td>
                    <td>I find the “1” in the music.<br>I clap on the “2”.<br>I dance comfortably to tempos up to 165 bpm.</td>
                    <td>I add creative flourishes and jazz steps without interrupting the flow of my dances.<br>I demonstrate simple call-and-response movements with my partner.</td>
                </tr>
            </tbody>
          </table>
        </section>
        <header class="row" id="private-lessons">
          <h2>Private Lessons</h2>
        </header>
        <section class="row">
          <div class="column">
            <p>If you'd like to improve your dancing further (and possibly faster), you can take private lessons.</p>
            <p>Private lessons should not replace group classes, however; group classes are essential to becoming a good social dancer! You meet other people who dance at your level, you rotate through many partners, and you become part of our community.</p>
            <p>Supplementing group classes with a private lesson here and there can help address any issues you might be having, or master the material more quickly so you don't feel the need to repeat a level. If you’re interested, talk to your instructors or email <a href="mailto:info@920special.com" alt="Email the 9:20 Special">info@920special.com</a></p>
          </div>
        </section>

        <!-- 9:20 Special Instructors -->
        <header class="row inverse" id="instructors">
          <h2>9:20 Special Instructors</h2>
        </header>
        <section class="row">
          <div class="column small-12">
            <p>The 9:20 Special is home to a passionate group of instructors who have won numerous competitions, traveled internationally to teach, and love to share the joy of Lindy Hop with our students. Our team of world class instructors is focused on preserving the history of authentic Lindy Hop while fostering a creative, dynamic learning environment.</p>
          </div>
          <ul class="row collapse image-grid">
              {% for teacher in teachers %}
                <li class="small-4 medium-3 column"><img src="{{ teacher.img }}" data-tooltip aria-haspopup="true" data-disable-hover='false' tabindex=1 title="{{ teacher.name }}"></li>
              {% endfor %}
          </ul>
        </section>

{% endblock %}
