{% extends "base/base.jinja" %}

{% block content %}
     <!-- Hero Section -->
      <div class="row align-spaced hero">
        <div class="align-top order-1 large-12 medium-12 small-12 column">
          <blockquote class="column small-8 small-offset-3 medium-5 medium-offset-7 large-3 large-offset-7">There are shortcuts to happiness, and dancing is one of them.<br>&mdash; Vicki Baum</blockquote>
        </div>
        <div class="align-bottom order-2 large-4 medium-6 small-12 column clearfix">
          <img src="static/img/hero-logo.png" alt="Thursday Nights at 2460 Sutter St, 9:20 Special" class="hero-logo float-center">
        </div>
        <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
          <h3>Spreading the joy of Lindy Hop</h3>
          <p>Class series are $55* each if purchased online by midnight of the Tuesday before the first class meeting. If you sign up at the door, our class series are $60* each.</p>
          <a type="button" class="button large expanded" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
        </div>
      </div>

      <!-- Lindy 1 -->
      <header class="row inverse">
        <h2>Classes</h2>
      </header>
      <section class="row">
        <div class="column small-12">
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <p>Classes are normally a four-week series, beginning on the first Thursday of the month. Classes are progressive, meaning that every week we build upon the moves taught in the previous class. If you miss the first class of the series, you will be unenrolled and given an account credit to be used toward a future series. New drop-ins are allowed the first week only. All classes include admission to the dance.</p>
              <p>Class series are $55 each if purchased online by midnight of the Tuesday before the first class. If you sign up at the door, our class series are $60 each. *Prices are adjusted for 3-week and 5-week months.</p>
              <p>In order to receive credit for the series, you must attend at least three of the four weeks of class.
              <p>If you would like to take a higher-level class, but don't have the prerequisites, you’ll need to do a level check. We do these the first Thursday of every month at 7PM. You'll social dance with one of our instructors to determine which level is the best fit. Contact us at <a href="mailto:info@920special.com">info@920special.com</a> with any questions.</p>
              <p><a href="dance.html#schedule">View this month's schedule.</a></p>
            </div>

            <div class="media-object-section">
              <div class="reveal large" id="class-progression" data-reveal style="display: none;">
                <img src="static/img/class-progression.jpg" alt="Our Class Progression. Lindy 1 (8-Count, 6-Count, Charleston) then Lindy 2 (Swing Outs, Musicality, Charleston 2, Classics) then Lindy 3 (Technique, Musicality, Beyond Lindy Hop, Vocabulary), and Solo Jazz">
                <button class="close-button" data-close aria-label="Close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <a data-toggle="class-progression" alt="Open class progression chart">
                <img src="static/img/class-progression-thumbnail.jpg" alt="class progression thumbnail">
              </a>
            </div>

          </div>
        </div>

        <div class="accordion" data-accordion data-allow-all-closed="true" style="width: 100%;">
          <div class="accordion-item is-active column small-12" data-accordion-item  id="taster-class">
            <a href="" class="accordion-title"><h3>Taster Class &ndash; Weekly Beginner Drop-In</h3></a>
            <div class="accordion-content" data-tab-content>
              <strong>Time: <em>9:00 PM (30 minute class)</em></strong><br>
              <strong>Prerequisites: <em>None</em></strong>
              <p>If you are brand new to swing and lindy hop and want to see what it's all about, but aren't able to commit to the full series, then this class is for you!</p>
              <p>Every Thursday from 9:00-9:30 PM, we offer a 30-minute intro to swing class included in the price of dance admission ($7 students/seniors / $9 regular). Open to everyone, but geared toward beginners, this class will give you a taste of why Lindy Hop is our favorite partner dance. You'll learn some fun moves you can practice immediately following the class at our social dance party.</p>
              <a type="button" class="button" href="http://clients.mindbodyonline.com/ws.asp?studioid=41810&stype=-7&sView=day">Register Now</a>
            </div>
          </div>

          <div class="accordion-item column small-12" data-accordion-item id="lindy-1">
            <a href="" class="accordion-title"><h3>Lindy 1 &ndash; Intro to Lindy Hop</h3></a>
            <div class="accordion-content" data-tab-content>
              <strong>Time: <em>7:20 PM and 8:30 PM</em></strong><br>
              <strong>Prerequisite: <em>None</em></strong>
              <p>If you are new to swing dancing and Lindy Hop, this monthly series is for you. No partner is necessary as we rotate partners frequently in class.</p>
              <p>Each series starts on the first Thursday of the month and is progressive, meaning that every week we build upon the moves taught in the previous class. New drop-ins are allowed the first week only. If you've missed the first class, you can take our 30-minute Taster class at 9:00PM then join the series the following month.
              There are three months of curriculum, which can be taken in any order. You must take all three to move on to Lindy 2.</p>
              <ul>
                <li>Lindy 1A: 6&ndash;Count</li>
                <li>Lindy 1B: 8&ndash;Count</li>
                <li>Lindy 1C: Charleston</li>
              </ul>
              <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&stype=-8&sTG=23&sVT=12&sView=week&sLoc=1">Register Now</a>
            </div>
            </div>

            <div class="accordion-item column small-12" data-accordion-item id="lindy-2">
              <a href="" class="accordion-title"><h3>Lindy 2 &ndash; Lindy Hop Fundamentals</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>7:20 PM</em></strong><br>
                <strong>Prerequisites: <em>Lindy 1 (A, B, &amp; C)</em></strong>
                <p>After you've taken all three months of Lindy 1 and feel like you've got some of the fundamentals of 6-count, 8-count, and Charleston down, this is the next step. Lindy 2 will help you grow your vocabulary, work on your technique, and become an adept social dancer. No partner is necessary as we rotate partners frequently in class.</p>
                <p>There are four months of curriculum, which can be taken in any order. You must take all four of them to move on to Lindy 3.</p>
                <ul>
                  <li>Lindy 2A: Swingouts</li>
                  <li>Lindy 2B: Musicality</li>
                  <li>Lindy 2C: Charleston</li>
                  <li>Lindy 2D: Classics</li>
                </ul>
                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
            <div class="accordion-item column small-12" data-accordion-item id="lindy-3">
              <a href="" class="accordion-title"><h3>Lindy 3 &ndash; Lindy Hop Fluency</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>8:30 PM</em></strong><br>
                <strong>Prerequisites: <em>Lindy 1 (A, B, &amp; C) and Lindy 2 (A, B, C, &amp; D)</em></strong>
                <p>If you've been studying Lindy Hop for seven months to a year, have completed all months of Lindy 1 and 2, feel like a solid social dancer, and want to be challenged to move your dancing to the next level, Lindy 3 is the right place for you. No partner is necessary as we rotate partners frequently in class.</p>
                <p>There are four months of rotating topics. Teachers will bring their own special ideas to these classes so they can be taken over and over again.</p>
                <ul>
                  <li>Lindy 3A: Technique</li>
                  <li>Lindy 3B: Musicality</li>
                  <li>Lindy 3C: Beyond Lindy Hop</li>
                <li>Lindy 3D: Vocabulary</li>
                </ul>
                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
            <div class="accordion-item column small-12" data-accordion-item id="lindy-4">
              <a href="" class="accordion-title"><h3>Lindy 4 &ndash; Lindy Hop Nuances (audition required)</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>7:20 PM</em></strong><br>
                <strong>Prerequisites: <em>Lindy 1, 2, &amp; 3. Audition only.</em></strong>
                <p>If you've been dancing Lindy Hop for a few years, have completed all months of Lindy 3 multiple times, travel to dance, and practice frequently because you feel like there are always things to work on, this is the level to strive for. The group will be small to maximize direct feedback from the instructors. An audition is required to take this class.</p>
                <p>Teachers will bring their own special ideas to these classes, so they can be taken over and over again, and classes will be tailored to the needs of the students.</p>

                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
            <div class="accordion-item column small-12" data-accordion-item id="solo-jazz">
              <a href="" class="accordion-title"><h3>Solo Jazz</h3></a>
              <div class="accordion-content" data-tab-content>
                <strong>Time: <em>9:30 PM (30 minute class)</em></strong><br>
                <strong>Prerequisites: <em>Lindy 1A, 1B, 1C</em></strong>
                <p>Working on your solo dancing is the best way to bring your partnered dancing to the next level, not to mention how much fun it is! This class will teach you original routines created by our instructors, classic sequences, and break down jazz steps that you will then be able to incorporate into your partnered dancing.</p>
                <p>Each 30-minute class starts at 9:30pm. Classes are progressive and build from the previous week. The material will be fun, challenging, and move quickly.</p>
                <a type="button" class="button" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&sView=week&sLoc=1">Register Now</a>
              </div>
            </div>
          </div>
        </section>

        <header class="row" id="private-lessons">
          <h2>Private Lessons</h2>
        </header>
        <section class="row">
          <div class="column">
            <p>If you'd like to improve your dancing further (and possibly faster), you can take private lessons.</p>
            <p>Private lessons should not replace group classes, however; group classes are essential to becoming a good social dancer! You meet other people who dance at your level, you rotate through many partners, and you become part of our community.</p>
            <p>Supplementing group classes with a private lesson here and there can help address any issues you might be having, or master the material more quickly so you don't feel the need to repeat a level. If you’re interested, talk to your instructors or email <a href="mailto:info@920special.com" alt="Email the 9:20 Special">info@920special.com</a></p>
          </div>
        </section>

        <!-- 9:20 Special Instructors -->
        <header class="row inverse" id="instructors">
          <h2>9:20 Special Instructors</h2>
        </header>
        <section class="row">
          <div class="column small-12">
            <p>The 9:20 Special is home to a passionate group of instructors who have won numerous competitions, traveled internationally to teach, and love to share the joy of Lindy Hop with our students. Our team of world class instructors is focused on preserving the history of authentic Lindy Hop while fostering a creative, dynamic learning environment.</p>
          </div>
          <ul class="row collapse image-grid">
              {% for teacher in teachers %}
                <li class="small-4 medium-3 column"><img src="{{ teacher.img }}" data-tooltip aria-haspopup="true" data-disable-hover='false' tabindex=1 title="{{ teacher.name }}"></li>
              {% endfor %}
          </ul>
        </section>

{% endblock %}
