{% extends "base/base.jinja" %}

{% block content %}

      <!-- Hero Section -->
      <div class="row align-spaced hero">
        <div class="align-top large-12 medium-6 small-12 columns">
          <blockquote class="column small-12 medium-12 large-4 large-offset-7">I've never seen a Lindy Hopper who wasn't smiling. It's a happy dance. It makes you feel good.<br>&mdash; Frankie Manning</blockquote>
        </div>
        <div class="align-bottom order-2 large-4 medium-6 small-12 column clearfix">
          <img src="static/img/hero-logo.png" alt="Thursday Nights at 2460 Sutter St, 9:20 Special" class="hero-logo float-center">
        </div>
        <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
          <h3>Thursday Night Dance</h3>
          <p>Join us every Thursday night for our evening dance party.
          <br><strong>Where:</strong> Russian Center, 2460 Sutter St.
          <br><strong>When:</strong> Thursday nights, 9:30pm to 12:30am
          <br><strong>Cost:</strong> $9 ($7 students, seniors, military)</p>
          <a type="button" class="button large expanded" href="#schedule">View schedule</a>
        </div>
      </div>

      <!-- New to 920 -->
      <header class="row inverse">
        <h2>New to Swing Dancing</h2>
      </header>
      <section class="row align-spaced">
        <div class="column small-12 medium-5">
          <h3>Taster Class</h3>
          <p>Check out our drop-in taster class starting at 9:00pm and see what Lindy Hop is all about.</p>
          <p>No partner or experience required to attend this weekly class.</p>
          <a type="buttton" class="button large" href="http://clients.mindbodyonline.com/ws.asp?studioid=41810&stype=-7&sView=day&sDate=03/03/2016">Register Now</a>
        </div>
        <div class="column small-12 medium-5">
          <h3>What to Wear</h3>
          <p>Comfort is key. While The 9:20 Special is casual (jeans are normal), you will be dancing with many different people and likely want to make a good impression, so we encourage you to dress nicely.</p>
          <p>Be sure to wear clothes that you can move around in without worrying about anything falling off. It’s particularly important to wear comfortable shoes; flat shoes that won’t slip off your feet are best.</p>
        </div>
      </section>

      <!-- Month 2 -->

      <header class="row inverse" id="schedule">
        <h2>April 2016</h2>
      </header>
      <section>

        <!-- DJs -->
        <div class="row">
          <h3>DJs</h3>
        </div>
        <div class="row align-spaced">
          <div class="column small-12 medium-6 large-expand week">
            <h4>April 7th</h4>
            <div class="column">
              <h5>DJs</h5>
              <p>TBD</p>
            </div>
          </div>
          <div class="column small-12 medium-6 large-expand week">
            <h4>April 14th</h4>
            <div class="column">
              <h5>DJs</h5>
              <p>TBD</p>
            </div>
          </div>
          <div class="column small-12 medium-6 large-expand week">
            <h4>April 21st</h4>
            <div class="column">
              <h5>DJs</h5>
              <p>TBD</p>
            </div>
          </div>
          <div class="column small-12 medium-6 large-expand week">
            <h4>April 28th</h4>
            <div class="column">
              <h5>DJs</h5>
              <p>TBD</p>
            </div>
          </div>
        </div>

        <div class="row">
          <h3><br>Classes</h3>
        </div>

        <div class="row align-spaced">
          <div class="small-6 medium-3 column week">
            <div class="row">
              <h4>7:20 PM</h4>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Lindy 1</strong>
              </div>
              <div class="column small-7">
                <p>Iris Tarou<br>
                Jess King</p>
              </div>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Lindy 2</strong>
              </div>
              <div class="column small-7">
                <p>Kirk Tarou<br>
                Ellen Huffman</p>
              </div>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Lindy 4</strong>
              </div>
              <div class="column small-7">
                <p>Ann Mony<br>
                Gilles Bouvier</p>
              </div>
            </div>
          </div>

          <div class="small-6 medium-3 column week">
            <div class="row">
              <h4>8:30 PM</h4>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Lindy 1</strong>
              </div>
              <div class="column small-7">
                <p>Kirk Tarou<br>
                Ellen Huffman</p>
              </div>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Lindy 3</strong>
              </div>
              <div class="column small-7">
                <p>Ann Mony<br>
                Gilles Bouvier</p>
              </div>
            </div>
          </div>

          <div class="small-6 medium-3 column week">
            <div class="row">
              <h4>9:00 PM</h4>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Taster Class</strong>
              </div>
              <div class="column small-7">
                <p>Iris Tarou<br>
                Jess King</p>
              </div>
            </div>
          </div>

          <div class="small-6 medium-3 column week">
            <div class="row">
              <h4>9:30 PM</h4>
            </div>
            <div class="row collapse align-justify">
              <div class="column shrink">
                <strong>Solo Jazz</strong>
              </div>
              <div class="column small-7">
                <p>Kevin Weng</p>
              </div>
            </div>
        </div>

      </section>

      <!-- What is Lindy Hop -->
      <header class="row">
        <h2>What is Lindy Hop</h2>
      </header>
      <section class="row align-spaced">
        <div class="column small-12 medium-12 large-10">
          <div class="flex-video">
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/6fDIPCuGpjE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="column small-12">
          <p>Lindy Hop is a partner dance and is the original form of Swing dancing created by teenagers in the 20's and 30's in Harlem, NY. Like hip hop is today, lindy hop was a street dance made up by youth responding to the popular music of the day, which was swing-era jazz.</p>
          <p>This unique American art form spread around the globe in the years leading up to WWII thanks to representation in popular movies such as Keep Punchin’, A Day At the Races, and then Hellzapoppin. As jazz musicians began to play bop, dancers began to partner less and less, and lindy hop fell out of favor, but revivalists in the 1980s learned from some of the original great dancers and brought it back!</p>
          <p>Today, we continue to dance to the swinging jazz music that inspired lindy hop in the first place, from artists such as Count Basie, Ella Fitzgerald, Duke Ellington, and many more.</p>
        </div>
      </section>

      <!--Beginner's Guide-->
       <header class="row" id="beginners-guide">
         <h2>Complete Beginner's Guide</h2>
      </header>
      <section class="row">
        <div class="column small-12">
          <p>When you look around at a dance, every single person you see dancing started as a beginner. Nobody starts dancing at a pro level &mdash; we all took our first class at some point. We all felt nervous and questioned whether we'd ever be any good. We all struggled to learn some move or another.</p>
          <p>You aren't alone, you're surrounded by people who empathize with your experience. So bravely ask that good dancer to dance! It’ll probably be a lot of fun, too!</p>
        </div>

        <div class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true" style="width: 100%;">
          <div class="accordion-item is-active column small-12" data-accordion-item id="what-to-wear">
            <a href="" class="accordion-title"><h3>What to Wear</h3></a>
            <div class="accordion-content" data-tab-content>
              <p>Comfort is key. While The 9:20 Special is pretty casual (jeans are completely acceptable), you will be dancing with many different people and likely want to make a good impression, so we encourage you to dress nicely. Be sure to wear clothes that you can move around in without worrying about anything falling off/down.</p>
              <p>It’s particularly important to wear comfortable shoes; flat shoes that won’t slip off your feet  are best.</p>
            </div>
          </div>
          <div class="accordion-item is-active column small-12" data-accordion-item id="social-dance">
            <a href="" class="accordion-title"><h3>A Social Dance</h3></a>
            <div class="accordion-content" data-tab-content>
              <p>Social dancing is extremely important if you want to improve your dancing. It’s very difficult (some would argue impossible) to become a good dancer without hours and hours of social dancing with lots of different people. You can't skip this step and there is no shortcut. So while, yes, it feels tough at the beginning, get out there! It gets easier over time, we promise.</p>
              <p>Our beginner classes are great for figuring out the fundamentals, getting a handful of moves under your belt, and being introduced to the way we social dance in our scene. On the social floor we trade partners just about every song. In class, you'll rotate through all the other students in preparation for that. Rotating is the best way to start to learn how every dancer feels different and adapting to this when you dance is very important. </p>
            </div>
          </div>
          <div class="accordion-item is-active column small-12" data-accordion-item id="leveling-up">
            <a href="" class="accordion-title"><h3>Leveling Up</h3></a>
            <div class="accordion-content" data-tab-content>
              <div class="media-object stack-for-small">
                <div class="media-object-section">
                  <p>The best advice we can give you is this: take your time!</p>
                  <p>The best dancers are the ones with the strongest fundamentals; the more time you spend working on the material from our beginner classes, the better you’ll be at picking up the more advanced stuff later. Plus, our curriculum is designed so that there’s always new things to learn, even in the same level class, month after month!</p>
                  <p>The goal is to be a good dancer, not to get through the classes the fastest without actually learning, right? At a minimum, you must take the prerequisites for each class before moving to the next level, but we recommend taking classes multiple times if you haven’t mastered the material yet.</p>
                  <strong>Our Class Progression and Prerequisites:</strong>
                  <ul>
                    <li>Level 1 - Three months of curriculum: 6-count, 8-count, Charleston</li>
                    <li>Level 2 - Four months of curriculum: Swingouts, Charleston, Classics, California Routine</li>
                    <li>Level 3 - Technique, Musicality, Beyond Lindy Hop, Vocabulary</li>
                  </ul>
                  <p>For more information about our classes, visit our <a href="classes.html">Classes page</a>.</p>
                </div>

                <div class="media-object-section">
                  <div class="reveal large" id="class-progression" data-reveal style="display: none;">
                    <img src="static/img/class-progression.jpg" alt="Our Class Progression. Lindy 1 (8-Count, 6-Count, Charleston) then Lindy 2 (Swing Outs, California Routine, Charleston 2, Classics) then Lindy 3 (Technique, Musicality, Beyond Lindy Hop, Vocabulary), and Solo Jazz">
                    <button class="close-button" data-close aria-label="Close" type="button">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <a data-toggle="class-progression" alt="Open class progression chart">
                    <img src="static/img/class-progression-thumbnail.jpg" alt="class progression thumbnail">
                  </a>
                </div>
              </div>

              <em>If you have taken class elsewhere and haven’t taken our prerequisites, you’ll need an instructor endorsement. Email us at <a href="mailto:info@920special.com" alt="Email the 9:20 Special">info@920special.com</a> for details.</em>
            </div>
          </div>
      </section>

{% endblock %}
