{% extends "base/base.jinja" %}

{% block content %}
    <!-- Hero Section -->
    <div class="row align-spaced hero">
        <div class="align-top order-1 large-12 medium-12 small-12 column">
            <blockquote class="column small-8 small-offset-3 medium-5 medium-offset-7 large-3 large-offset-7">There are shortcuts to happiness, and dancing is one of them.<br>&mdash; Vicki Baum</blockquote>
        </div>
        <div class="align-bottom order-2 large-4 medium-6 small-12 column clearfix">
            <img src="static/img/hero-logo.png" alt="Thursday Nights at 2460 Sutter St, 9:20 Special" class="hero-logo float-center">
        </div>
        <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
            <h3>Learn to Swing Dance</h3>
            <p>Our Lindy 1 series is all you need to get you on the dance floor and busting a move in no time.</p>
            <a type="button" class="button large expanded" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&stype=-8&sTG=23&sVT=12&sView=week&sLoc=1">Register Now</a>
        </div>
    </div>

    <!-- First Time -->
    <header class="row inverse">
        <h2>Get Dancing Today</h2>
    </header>
    <div class="row align-center">
        <div class="small-10 medium-4 column">
            <a href="classes.html#taster-class"><img src="static/img/taster-class.jpg"><br>Taster Class @ 9pm</a>
            <p>Join our free half hour lesson to get you out on the dance floor.</p>
        </div>
        <div class="small-10 medium-4 column">
            <a href="dance.html#beginners-guide"><img src="static/img/beginner-guide.jpg"><br>Beginner's Guide</a>
            <p>All the tips and tricks you need to know.</p>
        </div>
        <div class="small-10 medium-4 column">
            <a href="dance.html#what-to-wear"><img src="static/img/what-to-wear.jpg"><br>What to Wear</a>
            <p>Worried about what shoes to wear? We've got you covered.</p>
        </div>
    </div>

    <!-- This Week -->
    {% if news %}
        <header class="row inverse">
            <h2>Latest News</h2>
        </header>
        <div class="row">
            {% for news in news %}
                <div class="large-6 medium-6 small-12 column">
                    <h3>{{ news.name }}</h3>
                    {% if news.date %}<h5>{{ news.date.strftime('%B %e') }} </h5>{% endif %}
                    <p>{{ news.content }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- This Week -->
    <header class="row inverse">
        <h2>This Week</h2>
    </header>
    <div class="row">
        <div class="column">
            <h3>DJs</h3>
            <div class="row">
                <div class="medium-3 small-12 column">
                    <p>{{ ' & '.join(djs) }}</p>
                </div>
                <div class="large-offset-6 large-3 medium-offset-4 medium-5 small-12 small-offset-3 column">
                    <a href="dance.html#schedule" class="button primary large">View Schedule</a>
                </div>
            </div>
        </div>

        <div class="large-12 medium-12 small-12 column">
            <h3>Classes</h3>
            <div class="row align-spaced">
                {% for time, classes in schedule|dictsort %}
                    <div class="small-6 medium-3 column">
                        <h4>{{ time }}</h4>
                        {% for class_name, class_data in classes|dictsort %}
                            <h5>{{ class_name }}</h5>
                            {{ class_data }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- First Time Visitor -->
    <header class="row">
        <h2>First Time Visitor</h2>
    </header>
    <div class="row align-center">
        <div class="small-10 medium-4 column">
            <h3>Parking &amp; Directions</h3>
            <a href="about.html#parking"><img src="static/img/location-map.jpg"></a></p>
        </div>
        <div class="small-10 medium-4 column">
            <h3>Beginner's Guide</h3>
            <a href="dance.html#beginners-guide"><img src="static/img/beginner-guide.jpg"></a></p>
        </div>
        <div class="small-10 medium-4 column">
            <h3>Where to Eat</h3>
            <a href="about.html#where-to-eat"><img src="static/img/where-to-eat.jpg"></a></p>
        </div>
    </div>
{% endblock %}
