{% extends "base/base.jinja" %}

{% block content %}
  <!-- Hero Section -->
  <div class="row align-spaced hero">
    <div class="align-top order-1 large-12 medium-12 small-12 column">
      <blockquote class="column small-8 small-offset-3 medium-5 medium-offset-7 large-3 large-offset-7">There are shortcuts to happiness, and dancing is one of them.<br>&mdash; Vicki Baum</blockquote>
    </div>
    <div class="align-bottom order-2 large-4 medium-6 small-12 column clearfix">
      <img src="static/img/hero-logo.png" alt="Thursday Nights at 2460 Sutter St, 9:20 Special" class="hero-logo float-center">
    </div>
    <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
      <h3>Learn to Swing Dance</h3>
      <p>Our Lindy 1 series is all you need to get you on the dance floor and busting a move in no time.</p>
      <a type="button" class="button large expanded" href="https://clients.mindbodyonline.com/classic/ws?studioid=41810&stype=-8&sTG=23&sVT=12&sView=week&sLoc=1&date=03/03/16">Register Now</a>
    </div>
  </div>

  <!-- First Time -->
  <header class="row inverse">
    <h2>Get Dancing Today</h2>
  </header>
  <div class="row align-center">
    <div class="small-10 medium-4 column">
      <a href="classes.html#taster-class"><img src="static/img/taster-class.jpg"><br>Taster Class @ 9pm</a>
      <p>Join our free half hour lesson to get you out on the dance floor.</p>
    </div>
    <div class="small-10 medium-4 column">
      <a href="dance.html#beginners-guide"><img src="static/img/beginner-guide.jpg"><br>Beginner's Guide</a>
      <p>All the tips and tricks you need to know.</p>
    </div>
    <div class="small-10 medium-4 column">
      <a href="dance.html#what-to-wear"><img src="static/img/what-to-wear.jpg"><br>What to Wear</a>
      <p>Worried about what shoes to wear? We've got you covered.</p>
    </div>
  </div>

  <!-- This Week -->
  <header class="row inverse">
    <h2>This Week</h2>
  </header>
  <div class="row align-right">
    <div class="large-4 medium-4 column">
      <h3>DJs</h3>
      <div class="row align-spaced">
        <div class="column">
          <img style="width: 100%" src="{{ dj1.img }}">
          <br>{{ dj1.name }}
        </div>
        <div class="column">
          <img style="width: 100%" src="{{ dj2.img }}">
          <br>{{ dj2.name }}
        </div>
      </div>
    </div>
    <div class="large-8 medium-8 small-12 column">
      <h3>Classes</h3>
      <div class="row">
        <div class="small-12 medium-3 column">
          <h4>7:20 PM</h4>
          <p><h5>Lindy 1</h5>
          <em>Gold Room</em><br>
          Ryan and Ann</p>
          <p><h5>Lindy 2</h5>
          <em>Main Ballroom</em><br>
          Kirk and Iris</p>
        </div>
        <div class="small-12 medium-3 column">
          <h4>8:30 PM</h4>
          <p><h5>Lindy 1</h5>
          <em>Main Ballroom</em><br>
          Kirk and Iris</p>
          <p><h5>Lindy 3</h5>
          <em>Ballet Studio</em><br>
          Ryan and Ann</p>
        </div>
        <div class="small-12 medium-3 column">
          <h4>9:00 PM</h4>
          <p><h5>Taster Class</h5>
          <em>Gold Room</em><br>
          Gilles and Julia</p>
        </div>
        <div class="small-12 medium-3 column">
          <h4>9:30 PM</h4>
          <p><h5>Solo Jazz</h5>
          <em>Ballet Studio</em><br>
          Manu</p>
        </div>
      </div>
    </div>
    <div class="small-12 shrink column medium-offset-1">
      <a href="dance.html#schedule" class="button primary large">View Schedule</a>
    </div>
  </div>


  <!-- News COMMENTED OUT UNTIL WE GET A BLOG

  <header class="row inverse">
    <h2>Latest News</h2>
  </header>
  <div class="row">
    <div class="small-12 medium-4 column">
      <h3>Holiday Schedule</h3>
      <meta>October 6th, 2015</meta>
      <p>Every year we throw a few special events around the holidays including our renowned soul party.</p>
    </div>
    <div class="small-12 medium-4 column">
      <h3>Upcoming Classes</h3>
      <meta>October 1st, 2015</meta>
      <p>We have some exceptional courses coming up this October. Our Lindy 3 technique class will be taught by Nicole Zuckerman and Kevin Weng.</p>
    </div>
    <div class="small-12 medium-4 column">
      <h3>Summer Open House</h3>
      <meta>September 1st, 2015</meta>
      <p>Our latest open house was a huge success this year. We had over four hundred people come through our doors. Check out our student and teacher performances.</p>
    </div>
    <div class="small-12 column">
      <a href="">More news from our blog &#62;</a>
    </div>
  </div> -->

  <!-- First Time Visitor -->
  <header class="row">
      <h2>First Time Visitor</h2>
  </header>
  <div class="row align-center">
    <div class="small-10 medium-4 column">
      <h3>Parking &amp; Directions</h3>
      <a href="about.html#parking"><img src="static/img/location-map.jpg"></a></p>
    </div>
    <div class="small-10 medium-4 column">
      <h3>Beginner's Guide</h3>
      <a href="dance.html#beginners-guide"><img src="static/img/beginner-guide.jpg"></a></p>
    </div>
    <div class="small-10 medium-4 column">
      <h3>Where to Eat</h3>
      <a href="about.html#where-to-eat"><img src="static/img/where-to-eat.jpg"></a></p>
    </div>
  </div>
{% endblock %}
