{% extends "base/base.jinja" %}

{% block content %}

  <div class="row hero align-spaced">
    <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
      <h3>9:20 Class Survey</h3>
      <p>Help us improve our classes and take our survey.</p>
      <a type="button" class="button large expanded" href="https://docs.google.com/forms/d/e/1FAIpQLSfSlS_OprOBZT4WJ20SNRxHsV9c6wSr2n49OGy2pd_-YXuQBA/viewform">Take Survey</a>
    </div>
</div>

{% endblock %}
