{% extends "base/base.jinja" %}

{% block content %}

  <div class="row hero align-spaced">
    <div class="align-bottom order-3 callout large-4 medium-5 small-10 column">
      <h3>9:20 Class Survey</h3>
      <p>Help us improve our classes and take our survey.</p>
      <a type="button" class="button large expanded" href="https://docs.google.com/forms/d/e/1FAIpQLSfquNtKGAd8iz6gSq1I7wMz3R6bPPsaCfkVOaDoMr1Tnhuz_g/viewform?embedded=true">Take Survey</a>
    </div>
</div>

{% endblock %}
