{% extends "base/base.jinja" %}

{% block content %}

          <!-- Hero Section -->
          <div class="row">

            <div class="large-4 large-offset-7 large-4 large-offset-6 large-6 large-offset-4">
              <h1>Passionately Enthusiastic. </h1>
            </div>
          </div>



          <!-- About the 920 -->
          <div class="row">
            <header>
              <h2>9:20 Special Volunteers</h2>
            </header>
            <div class="row">
              <div class="large-4 large-4">
                <p> The 9:20 Special is run by a dedicated group of staff and volunteers. By volunteering with us (sitting a door shift, or helping to setup/cleanup), you not only have the opportunity to get free dance admission/classes and discounts, but you also get to become part of our fun team and community!</p>
                <p><strong>Want to volunteer, or have questions about volunteering?</strong></p>

                <a href="mailto:volunteer@920special.com" target="blank"><button>Get in Touch About Volunteering</button></a>
              </div>
            </div>
          </div>



          <!-- 920 Volunteers-->
        <div class="row">
        <h2>Meet the Volunteer Team</h2>
        </div>

          <div class="row">
              <div class="col-xs">
                <a href=""><img src="../lindy/static920/static/img/volunteer/marissasonkin.jpg"><h4>Marissa Teal Sonkin</h4></a>
              </div>
              <div class="col-xs">
                <a href=""><img src="../static/img/volunteer/jamesmcgraw.jpg"><h4>James McGraw</h4></a>
              </div>
          </div>
          <div class="row">
              <div class="col-xs">
                <a href=""><img src="../static/img/volunteer/volunteer1.jpg"><h4>volunteer 1</h4></a>
              </div>
              <div class="col-xs">
                <a href=""><img src="../static/img/volunteer/volunteer2.jpg"><h4>volunteer 2</h4></a>
              </div>
           </div>
           <div class="row">
              <div class="col-xs">
                <a href=""><img src="../static/img/volunteer/jamesoh.jpg"><h4>James Oh</h4></a>
              </div>
              <div class="col-xs">
                <a href=""><img src="../lindy/static920/static/img/volunteer/cariwestbrook.jpg"><h4>Cari Westbrook</h4></a>
              </div>
           </div>
            <div class="row">
              <div class="col-xs">
                <a href=""><img src="../lindy/static920/static/img/volunteer/george.jpg"><h4>George</h4></a>
              </div>

           </div>










          <!-- About Us Links -->
          <div class="row">
             	 <div class="large">
              	  <a href=""><img src="../static/img/hero/about920hero.jpg"><h2>About Us</h2></a>
             	 </div>
          </div>

          <div class="row">
              <div class="col-xs">
                <a href=""><img src="../lindy/static920/static/img/hero/djs.jpg"><h2>DJ's</h2></a>
              </div>
              <div class="col-xs">
                <a href=""><img src="../static/img/hero/ourstaff.jpg"><h2>Staff</h2></a>
              </div>
          </div>

          <div class="row">
             	 <div class="large">
              	  <a href=""><img src="../lindy/static920/static/img/hero/instructors.jpg"><h2>Instructors</h2></a>
             	 </div>
          </div>

{% endblock %}
